*{
	margin:0px;
	padding:0px;
    	color: rgb(0, 0, 0);
	font-family: 'Acme', sans-serif;
}


nav{
	height: 69px;
	background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: space-around;
	align-items: center;
}
 .logo{
	 width:40%;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px;
	padding:30px;
	font-size: 25px;
	text-transform: uppercase;


}
.menu{
	width:60%;
	color: rgb(0, 0, 0);
	padding: 50px;
	display: flex;
  justify-content: space-around;
	align-items: center;
	font-size: 15px;

}
.menu a{
	text-decoration: none;
	color:rgb(0, 0, 0);
	font-weight:lighter;
	position:relative;
}
.menu a:before{
	content:"";
	position:absolute;
	left:0;
	top:100%;
	width:100%;
	height:3px;
	background-color: rgb(255, 255, 255);
	transition :all 0.5s linear;
}
.menu a:hover:before{
	width:100%;
	background-color: #6c5ce7;
}

body{
	background:rgba(247, 120, 120, 0.801)
}
.column {
	width: 30%;
	  float: left;
	  padding: 1px;
	  height: 300px;
	  border: 20px;
}
.row{
      content: "";
	  display: table;
	  clear: both;
}
